@font-face {
      font-family: "vaziryMatnSemiBold";
      src: url("../fonts/fonts/webfonts/Vazirmatn-SemiBold.woff2");
}
@font-face {
      font-family: "vaziryMatnMedium";
      src: url("../fonts/fonts/webfonts/Vazirmatn-Medium.woff2");
}
@font-face {
      font-family: "vaziryMatnBold";
      src: url("../fonts/fonts/webfonts/Vazirmatn-Bold.woff2");
}
@font-face {
      font-family: "vaziryMatnRegular";
      src: url("../fonts/fonts/webfonts/Vazirmatn-Regular.woff2");
}
@font-face {
      font-family: "kharegi";
      src: url("../fonts/CinzelDecorative-Regular.ttf") format("truetype");
}

a,
body,
div,
form,
html,
img,
input,
label,
p,
button,
span {
      margin: 0;
      padding: 0;
      border: 0;
      font-family: "kharegi";
}

body,
html {
      min-height: 100%;
      overflow-x: hidden
}

body {
      background-color: #D6E5CF;
      background-image: url("../img/background/bgg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow-y: hidden;
}
h1,p{
      color: black !important;
      padding-bottom: 10px;
}
a {
      color: #486173
}
.tableStatus{
      height: 150px !important;
}
input,
label {
      vertical-align: middle;
      white-space: normal;
      background: 0 0;
      line-height: 1
}

label {
      position: relative;
      display: flex;
      align-items: center;
      
}

p::first-letter {
      text-transform: uppercase
}
.bg-body{
      position: relative;
      width: 100dvw;

}
.main {
      min-height: calc(100vh - 90px);
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
}

.ie-fixMinHeight {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
}

.ico {
      height: 16px;
      position: absolute;
      top: 0;
      right:0;
      /* margin-top: 26px; */
      margin-left: 14px
}

.logo{
      position: relative;
      bottom: 26px;
}


h1 {
      text-align: center;
      color: #fff;
      font-size: 24px !important
}

* {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px
}
/* Group 7 */


/* Rectangle 1 */


form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
}


.wrap {
      width: 360.73px;
      z-index: 999;
      background: #BFBD8C;
      margin-top: 16rem;
      margin-left: 120px;
      padding:40px 20px 0px 20px;
      -webkit-transition: width .3s ease-in-out;
      transition: width 0.3s ease-in-out;
      border-radius: 19px;
}

form {
      width: 100%;
      margin-bottom: 20px
}

@-webkit-keyframes fadeIn {
      from {
            opacity: 0
      }

      to {
            opacity: 1
      }
}

@keyframes fadeIn {
      from {
            opacity: 0
      }

      to {
            opacity: 1
      }
}

.fadeIn {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn
}

.animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both
}

.info {
      color: #fff;
      text-align: center;
      margin-bottom: 0px
}

input {
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none
}
input:hover{
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
input:focus {
      outline: 01545;
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
input::placeholder{
      font-size: 18px;
      font-family: "vaziryMatnRegular";
      color: #00000087;

}
input{
      display: block;
      margin: 0 auto;
      font-family: "vaziryMatnRegular";
      width: 90%;
      height: 50px;
      padding: 3px 20px 3px 40px;
      border-radius: 21px;
      background-color: #fff;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      -webkit-transition: -webkit-box-shadow .3s ease-in-out;
      transition: -webkit-box-shadow .3s ease-in-out;
      transition: box-shadow .3s ease-in-out;
      transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

input[type=password]:focus,
input[type=text]:focus {
      -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1);
      box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1)
}

.bt {
      opacity: 0.4
}

input[type=submit] {
      background: #744639;
      color: #fff;
      border: 0;
      cursor: pointer;
      text-align: center;
      font-weight: 400;
      font-size: 25px !important;
      box-shadow: none;
      border-radius: 21px;
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
}

input[type=submit]:focus,
input[type=submit]:hover {
      background: #5b362c;
}
.main_titraz{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      bottom: -12px;
      gap: 8px;

}
.main_titraz li{
      font-family: "kharegi";
      font-size: 17px;
      color: #864E3F;
      line-height: 30px;
      margin-right: 65px;
      border-radius: 11px;
      padding:0px 8px;
      white-space: nowrap;
      text-align: center;
}

.highlight{
      background: rgb(191,189,141);
      background-color: linear-gradient(77deg, rgba(191, 189, 141, 1) 24%, rgba(191, 189, 141, 0.9) 25%, rgba(191, 189, 141, 0.8) 55%, rgba(191, 189, 141, 0.7) 75%);
      font-weight:bold;
      color: #754537;
      font-size: 18px !important;
}
.fontChange{
      width: 280px !important;
}
li{
      transition: background-color 1s ease;
      list-style-type: none !important;
      list-style: none !important;
}
table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px
}

table td {
      color: #000000;
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 4px 10px 0
}

table td:first-child {
      font-weight: 700
}

.lite {
      background: #fff
}

.lite input[type=password],
.lite input[type=text] {
      border: 1px solid #c3c3c3
}

.lite .info,
.lite h1,
.lite table td {
      color: #444
}

.lite input[type=password]:focus,
.lite input[type=text]:focus {
      -webkit-box-shadow: 0 0 5px 0 rgba(62, 77, 89, .2);
      box-shadow: 0 0 5px 0 rgba(62, 77, 89, .2)
}

.dark {
      background: #343434
}

.dark input[type=submit] {
      background: #dc3a41
}

.dark input[type=submit]:focus,
.dark input[type=submit]:hover {
      background: #b92f35
}

.dark input[type=password],
.dark input[type=text] {
      background-color: #fff
}

.dark a {
      color: #dc3a41
}

.dark table td {
      border-bottom: 1px solid #505050
}

.info.alert {
      color: #da3d41
}
.d_none{
      display: none;
}

@media (min-width:576px) {
      * {
            font-size: 14px !important
      }
}


@media only screen and (min-width:1px) and (max-width:575px) {
      body {
            background-color: #D6E5CF;
            background-image: url("../img/background/bgg.jpg");
            background-repeat:no-repeat ;
            background-position: center;
            background-size: 100vw 100vh;
            overflow-y: auto;
      }
      .ie-fixMinHeight{
            display: flex;
            flex-direction: column;
      }
      .wrap {
            display: block;
            margin: auto;
            width: 310px;
      }
      .main_titraz{
            display: none;
      }
      .titraz_mobile{
            width: 100vw;
      }
      
      .titraz_mobile p{
            margin: 0 auto;
            width: 75%;
            font-family: "kharegi";
            font-size: 17px;
            color: #864E3F;
            line-height: 30px;
            border-radius: 11px;
            padding:0px 8px;
            white-space: nowrap;
            text-align: center;
      }
      .titraz_mobile p{
            transition:
             display 1s ease;
      }
      
      .highlitMobile{
            background-color: linear-gradient(77deg, rgba(191, 189, 141, 1) 24%, rgba(191, 189, 141, 0.9) 25%, rgba(191, 189, 141, 0.8) 55%, rgba(191, 189, 141, 0.7) 75%);
            background: rgb(191,189,141);
            color: #754537;
            font-weight:bold !important;
            font-size: 18px !important;
            font-family:"kharegi";
            opacity: 0;
            transition: background-color 1.5s ease-in-out;
      }
      .highlitMobile.visible {
            display: block;
            opacity: 1;
      }
}
@media screen and (min-width:1550px) {
      .wrap {
            width: 390.73px;
            z-index: 999;
            background: #BFBD8C;
            margin-top: auto;
            margin-left: 120px;
            padding:40px;
            -webkit-transition: width .3s ease-in-out;
            transition: width 0.3s ease-in-out;
            border-radius: 19px;
      }
      form {
            flex-direction: column;
            display: flex;
            gap: 16px;
            justify-content: center;
      }
      .main_titraz{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            bottom: -15px;
      }
      .main_titraz li{
            font-family: "kharegi";
            font-size: 17px !important;
            color: #864E3F;
            line-height: 45px;
            margin-right: 45px;
      }
      .highlight{
            color: #754537;
            font-size: 18px !important;
      }
      .fontChange{
            width: 210px !important;
      }
}